body{
    padding: unset;
    margin: unset;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
ul{
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
}
header{
    padding: 20px 0 ;
    background-color: #041C32 !important;
}
.nav-heading{
    font-family: 'Pacifico', cursive;
    color: white;
    letter-spacing: 2px;
}
.site-wrapper{
    /*background-color: hsl(222, 14%, 10%);*/
    min-height: 100vh;
    background-color: #064663;
}

.grid{
    width: 500px;
    height: 500px;
    box-sizing: content-box;
    margin: 40px auto;
    background-color: #041C32;
    border: 5px solid #ECB365;
    display: flex;
    flex-wrap: wrap;


}
.grid div
{
    width: 25px;
    height: 25px;
}

.alien{
    background-color: #064663;
}

.user{
    background-color: #ECB365;
}

.laser{
    background-color: orange;
}